
{% extends "base.html"%} 



{% block content %}

            <P> hi you are {{age}}. that means that your rights are: </P>
            {%for right in rights %}
                <div class="card">
                    <div class="card-body">
                        {{right}}
                    </div>
                  </div>
            {% endfor %}
            <ul>
                {% for right in rights %}
                <li>
                    {{right}}
                </li>
                {% endfor %}

            </ul>
{% endblock %}
